<!-- First Screen -->
<div class="container mt-4" style="background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2020&q=80)">
  <div class="row">
    <div class="col-md-5 d-flex justify-content-start">
      <h1>Welcome to Set Up Computer Web</h1>
    </div>
    <div class="col-md-7"></div>
  </div>
</div>
<!-- Akhir Screen -->
