<!-- First Screen -->
<div id="home" class="pt-3" style="background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2020&q=80); width: 100%">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex justify-content-start">
        <h1 class="text-light">Welcome to Pets Media</h1>
      </div>
      <div class="col-md-7"></div>
    </div>
  </div>
</div>
<!-- Akhir Screen -->
