<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 text-center">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <img src="img-profile.jpg" alt="" srcset="" class="img-fluid rounded-circle" style="width: 200px" />
          <h5 class="card-title">Username</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">ID</h6>
          <button href="#" class="btn btn-primary badge">Connect Twitter</button><br />
          <button href="#" class="btn btn-primary badge">Connect Facebook</button>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card" style="width: 100%">
        <div class="row d-flex justify-content-center">
          <div class="col-md-7 text-center">
            <span>➕ Add Collections</span>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 d-flex justify-content-center my-2">
            <div class="card" style="width: 18rem">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Judul Set Up</h5>
                <p class="card-text">By <span class="UName">Zaal</span></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                  <span><span class="jmlLikes">0</span>👍</span>
                  <span><span class="jmlLikes">0</span>💬</span>
                </li>
              </ul>
              <div class="card-body text-center">
                <button class="btn btn-outline-primary">All Comments</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center my-2">
            <div class="card" style="width: 18rem">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Judul Set Up</h5>
                <p class="card-text">By <span class="UName">Zaal</span></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                  <span><span class="jmlLikes">0</span>👍</span>
                  <span><span class="jmlLikes">0</span>💬</span>
                </li>
              </ul>
              <div class="card-body text-center">
                <button class="btn btn-outline-primary">All Comments</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
